body {
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blue;
}

head {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2,p {
    text-align: center;
}
h1 { 
    font-size: 100px;
}

p{
    font-size: 30px;
}

#running {
    background-color: blue;
    margin: 0;
    width: 100%;
}

.runningl {
    display: flex;
    overflow:hidden;
    margin:5%;
    flex-wrap: nowrap;
}
.runningl span {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 200px;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
}

#top {
    margin-bottom: 10%;
}

#down {
    margin-top: 10%;
}
.runningl2 span {
    animation-delay: 10s;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.runningr {
    white-space: pre;
    display: flex;
    overflow:hidden;
    flex-wrap: nowrap;
}
.runningr span {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 100px;
    padding-left: 100%;
    animation: scroll-right 20s linear infinite;
}

.runningr2 span {
    animation-delay: 10s;
}
@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.managers {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.section {
    margin:5%;
}
